:root {
  --background: #151515;
  --background-light: #252525;
  --background-lighter: #353535;
  --highlight: tomato;
  --highlight-light: hsl(9, 100%, 78%);
  --foreground: white;
}

* {
  box-shadow: none !important;
}

a {
  color: var(--highlight) !important;
}

p {
  color: var(--foreground);
}

.vc-fullHeight {
  background-color: var(--background) !important;
}

#vcEbaHeader {
  background: var(--background-light) !important;
}

.vc-color-blue {
  color: var(--highlight) !important;
}

.vc-router-content {
  background-color: var(--background) !important;
}

.vc-layout-content-container-body {
  background-color: var(--background-light) !important;
}

.vc-bg-color-white {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
}

.vc-grid-item {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
}

.vc-grid-header {
  background-color: var(--highlight) !important;
}

.vc-content-title-container {
  background-color: var(--background-light) !important;
}

.vc-bg-color-ghost-gray {
  background-color: var(--background-light) !important;
}

.vc-input-div {
  background-color: var(--background-light) !important;
}

#vc-feedComposer .feed-composer-textarea:after {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
}

.vc-left-menu-eba {
  background-color: var(--background-light) !important;
}

.leftMenuProfileName {
  color: var(--foreground) !important;
}

.vc-left-menu-eba .vc-font-size-small {
  color: var(--background) !important;
}

.vc-lm-item-title {
  color: var(--foreground) !important;
}

.vc-text-link {
  color: var(--highlight) !important;
}

.selectable:hover {
  background-color: var(--highlight) !important;
}

.hidden-xs {
  color: var(--foreground) !important;
}

.event-pin {
  background-color: var(--highlight) !important;
}

.vc-lm-item-selected {
  background-color: var(--highlight) !important;
}

.btn-danger,
.btn-success,
.btn-warning,
.btn-primary {
  background-color: var(--highlight) !important;
  color: var(--background) !important;
  border: none !important;
}

#portfolioWidgetSchema {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
  border: none !important;
}

.typeTitle {
  color: var(--highlight) !important;
}

.add-empty-component span {
  color: var(--highlight) !important;
}

#vc-new-curriculum-list-narrowed .node-child-bg-color {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
}

.vc-lm-item-container-collapsed {
  background-color: var(--background-light) !important;
}

.vc-lm-item-container {
  background-color: var(--background-light) !important;
}

.vc-tabButtons {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
}

.vc-tab-title:hover {
  color: var(--highlight) !important;
  border-bottom: 3px solid var(--highlight) !important;
}

.vc-tab-title[aria-selected="true"] {
  color: var(--highlight) !important;
  border-bottom: 3px solid var(--highlight) !important;
}

.col-button {
  background-color: var(--background-light) !important;
}

.active-event-container,
.event-container {
  background-color: var(--background-lighter) !important;
  color: var(--foreground) !important;
  border-color: var(--highlight) !important;
}

.active-event-container {
  background-color: var(--highlight) !important;
}

.event-teacher-name,
.event-title {
  color: var(--foreground) !important;
}

.event-course-time > div.vc-font-weight-bold {
  color: var(--foreground) !important;
}

.vc-full-calendar .fc-title {
  color: var(--background) !important;
}

.vc-action-box-header {
  background-color: var(--background-light) !important;
}

.panel-body {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
}

#bodyPreloader {
  background-color: var(--background) 44 !important;
}

body[style] {
  background-color: var(--background) !important;
}

.card {
  background-color: var(--background-light) !important;
  border-color: var(--background-light) !important;
}

.vc-color-yale-blue {
  color: var(--highlight-light) !important;
}

.contact100-form {
  background-color: var(--background-lighter) !important;
}

.nl-divider-row,
.inner-ust,
.inner-alt,
.middle {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}

.nl-input-label,
.nl-title {
  color: var(--foreground) !important;
}

.nl-tab-container,
.nl-tab-content-row {
  background-color: var(--background-light) !important;
}

.nl-tab-btn.active {
  background: none !important;
  background-color: var(--highlight) !important;
  color: var(--foreground) !important;
}

.navbar {
  background-color: var(--highlight) !important;
  color: var(--foreground) !important;
}

.modal-content,
.modal-footer,
.modal-body {
  background-color: var(--background-lighter) !important;
  color: var(--foreground) !important;
}

.modal-header {
  background-color: var(--highlight) !important;
}

.vc-action-box-header {
  color: var(--highlight) !important;
}

.eba-menu-panel-container::before,
.eba-menu-panel-container {
  background-color: var(--background-lighter) !important;
  color: var(--background-lighter) !important;
}

.eba-menu-panel-item {
  color: var(--foreground) !important;
}

.eba-menu-panel-item:hover {
  background-color: var(--highlight) !important;
  color: var(--foreground) !important;
}

.vc-color-dark-blue {
  color: var(--highlight-light) !important;
}

.unSelectedItem {
  background-color: var(--background-lighter) !important;
  color: var(--foreground) !important;
}

.selectedItem {
  background-color: var(--highlight) !important;
}

.gunluk-gorunum * {
  color: var(--foreground) !important;
}

[for="rememberMe"] {
  color: var(--foreground) !important;
}

.ec-saatlik-liste *:not(.ec-sinif-rengi) {
  background-color: var(--highlight) !important;
}

.tab-content,
.ec-header-btn,
.ec-header {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
}

.ec-menu-icon-normal,
.ec-header-menu-text {
  color: var(--highlight) !important;
  fill: var(--highlight) !important;
}

.ec-ebaya-git-en-yeni * {
  color: var(--background) !important;
}

.ec-ebaya-git-en-yeni-ogrenci {
  background-color: var(--foreground) !important;
}

a[class^="ec-ebaya-git-en-yeni-"]:not(.ec-ebaya-git-en-yeni-ogrenci),
.ec-ebaya-git-btn a {
  background-color: var(--highlight) !important;
  color: var(--foreground) !important;
}

.ec-table-ders-adi {
  color: var(--foreground) !important;
}

.ec-modal-table [class$="-sutunu"] {
  color: var(--foreground) !important;
  background-color: var(--highlight) !important;
}

.table.table-striped,
.ec-table-ders,
.ec-table-tarih,
.ec-table-saat {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
}
