:root {
  --background: #151515;
  --background-light: #252525;
  --background-lighter: #353535;
  --highlight: tomato;
  --highlight-light: hsl(9, 100%, 78%);
  --highlight-dark: hsl(9, 100%, 50%);
  --foreground: white;
  --accessibility-focus: blue;
}

* {
  box-shadow: none !important;
}

a:focus,
button:focus,
input:focus {
  box-shadow: none !important;
  box-shadow: 0 0 0 3px var(--accessibility-focus) !important;
}

a,
.vc-color-blue,
.vc-text-link,
.typeTitle,
.add-empty-component span,
.vc-action-box-header {
  color: var(--highlight) !important;
}

p,
.vc-font-weight-normal,
.ec-table-ders-adi,
[for="rememberMe"],
.gunluk-gorunum *,
.eba-menu-panel-item,
.nl-input-label,
.nl-title,
.event-course-time > div.vc-font-weight-bold,
.event-teacher-name,
.event-title,
.hidden-xs,
.vc-lm-item-title,
.leftMenuProfileName,
td span,
.fc-day-grid-event .fc-content,
.p-l-md .vc-color-yale-blue {
  color: var(--foreground) !important;
}

.vc-router-content,
.vc-fullHeight,
body[style] {
  background-color: var(--background) !important;
}

#vcEbaHeader {
  background: var(--background-light) !important;
}

.vc-grid-item,
.vc-bg-color-white {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
}

.ec-saatlik-liste *:not(.ec-sinif-rengi),
.selectedItem,
.modal-header,
.active-event-container,
.event-pin,
.vc-lm-item-selected,
.selectable:hover,
.vc-grid-header {
  background-color: var(--highlight) !important;
}

.vc-layout-content-container-body,
.nl-tab-container,
.nl-tab-content-row,
.vc-action-box-header,
.col-button,
.vc-lm-item-container,
.vc-lm-item-container-collapsed,
.vc-left-menu-eba,
.vc-input-div,
.vc-bg-color-ghost-gray,
.vc-content-title-container {
  background-color: var(--background-light) !important;
}

#vc-feedComposer .feed-composer-textarea:after {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
}

.ec-ebaya-git-en-yeni *,
.vc-full-calendar .fc-title,
.vc-left-menu-eba .vc-font-size-small {
  color: var(--background) !important;
}

.btn-danger,
.btn-success,
.btn-warning,
.btn-primary {
  background-color: var(--highlight) !important;
  color: var(--background) !important;
  border: none !important;
}

#portfolioWidgetSchema {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
  border: none !important;
}

#vc-new-curriculum-list-narrowed .node-child-bg-color {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
}

.vc-tabButtons {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
}

.vc-tab-title:hover {
  color: var(--highlight) !important;
  border-bottom: 3px solid var(--highlight) !important;
}

.vc-tab-title[aria-selected="true"] {
  color: var(--highlight) !important;
  border-bottom: 3px solid var(--highlight) !important;
}

.active-event-container,
.event-container {
  background-color: var(--background-lighter) !important;
  color: var(--foreground) !important;
  border-color: var(--highlight) !important;
}

.panel-body {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
}

#bodyPreloader {
  background-color: var(--background) 44 !important;
}

.card {
  background-color: var(--background-light) !important;
  border-color: var(--background-light) !important;
}

.vc-color-dark-blue,
.vc-color-yale-blue {
  color: var(--highlight-light) !important;
}

.contact100-form {
  background-color: var(--background-lighter) !important;
}

.nl-divider-row,
.inner-ust,
.inner-alt,
.middle {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}

.nl-tab-btn.active {
  background: none !important;
  background-color: var(--highlight) !important;
  color: var(--foreground) !important;
}

.navbar {
  background-color: var(--highlight) !important;
  color: var(--foreground) !important;
}

.modal-content,
.modal-footer,
.modal-body {
  background-color: var(--background-lighter) !important;
  color: var(--foreground) !important;
}

.eba-menu-panel-container::before,
.eba-menu-panel-container {
  background-color: var(--background-lighter) !important;
  color: var(--background-lighter) !important;
}

.eba-menu-panel-item:hover {
  background-color: var(--highlight) !important;
  color: var(--foreground) !important;
}

.unSelectedItem {
  background-color: var(--background-lighter) !important;
  color: var(--foreground) !important;
}

.ec-header-btn,
.ec-header {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
}

.tab-content {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
  border-radius: 100vh 100vh 0 100vh;
}

.ec-menu-icon-normal,
.ec-header-menu-text {
  color: var(--highlight) !important;
  fill: var(--highlight) !important;
}

.ec-ebaya-git-en-yeni-ogrenci {
  background-color: var(--foreground) !important;
}

a[class^="ec-ebaya-git-en-yeni-"]:not(.ec-ebaya-git-en-yeni-ogrenci),
.ec-ebaya-git-btn a {
  background-color: var(--highlight) !important;
  color: var(--foreground) !important;
}

.ec-modal-table [class$="-sutunu"] {
  color: var(--foreground) !important;
  background-color: var(--highlight) !important;
}

.table.table-striped,
.ec-table-ders,
.ec-table-tarih,
.ec-table-saat {
  background-color: var(--background-light) !important;
  color: var(--foreground) !important;
}

.fc-day-header,
#liveLessonList .fc .fc-day-header {
  background-color: var(--highlight) !important;
}

.pagination > .active > a {
  background-color: var(--highlight) !important;
  color: var(--foreground) !important;
  border-color: var(--highlight) !important;
}

td {
  background-color: var(--background-light) !important;
  border-color: var(--foreground) !important;
}

.vc-color-red * {
  color: var(--highlight-dark) !important;
}
